
        <!--/footer-bottom-->
        <div class="footerv3-w3ls">
            <!-- footerv3-top -->
            <div class="footerv3-top">
                <div class="container">
                    <div class="col-md-3 col-sm-6 footv3-left">
                        <h3>About Us</h3>
                        <h4>
                            <a href="\">Rentafolio</a>
                        </h4>
                        <p>Rentafolio is like your own little library.</p>

                        <p>You can rent books at cheap prices and lend your own books for a quick part time income.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 footv3-left">
                        <h3>Get In Touch</h3>
                        <p>Reach us out through the contact given below</p>

                        <div class="fv3-contact">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            <p> C.V. Raman Hostel</p>
                        </div>
                        <div class="fv3-contact">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            <p>+91 9560493654</p>
                            <div class="fv3-contact">
                            </div>
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            <p>
                                <a href="mailto:example@email.com">ishangupta080420@gmail.com</a>
                            </p>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-md-3 col-sm-6 footv3-left">
                            <h3>navigation</h3>
                            <div>
                                <a href="{% url 'index' %}"><p>Home</p></a>
                            </div>
                            <div>
                                <a href="{% url 'catalog' %}"><p>Shop</p></a>
                            </div>
                            <div>
                                <a href="{% url 'book_upload' %}"><p>Upload Book</p></a>
                            </div>
                        </div>
                    <div class="col-md-3 col-sm-6 footv3-left">
                        <h3>Subscribe</h3>
                        <p>Subscribe us to get updates about new books. </p>
                        <form action="#" method="post">
                            <input type="text" value="Your Email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /footerv3-top -->
        </div>
        <div class="cpy-right">
                <p>© 2019 BookRental. All rights reserved | Design by
                    <a href="http://w3layouts.com"> W3layouts.</a>
                </p>
        </div>